{% extends 'base1.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tournoi.css') }}" />
{% endblock %}

{% block code %}
    <br>
    <br>
    <br>
    <h1>Tournoi</h1>
    <br>
    <br>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th class="table-header">Id</th>
                <td>{{ tournoi.id }}</td>
            </tr>
            <tr>
                <th class="table-header">titre</th>
                <td>{{ tournoi.titre }}</td>
            </tr>
            {% for athlete in tournoi.athletes %}
            <tr>
                <th class="table-header">name</th>
                <td>{{ athlete.name }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="table-header">Date</th>
                <td>{{ tournoi.date ? tournoi.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_tournoi_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_tournoi_edit', {'id': tournoi.id}) }}">edit</a>
    
    <a class="btn btn-primary" href="{{ path('tournoi_assign_athlete', {'id': tournoi.id}) }}">Participer</a>
<a class="btn btn-primary" href="{{ path('app_tournoi_pdf', {'id': tournoi.id}) }}">Download PDF</a>

    {{ include('tournoi/_delete_form.html.twig') }}
{% endblock %}
