{% extends 'base.html.twig' %}

{% block title %}Recherche avancée{% endblock %}

{% block body %}
    <h1>Recherche avancée</h1>

    {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.auteur) }}
    {{ form_row(form.date) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if actualites is not empty %}
        <h2>Résultats de la recherche :</h2>
        {% for actualite in actualites %}
            <h3>{{ actualite.titre }}</h3>
            <p>{{ actualite.description }}</p>
            <p>{{ actualite.date|date('d/m/Y') }}</p>
            <p>{{ actualite.auteur.nom }} {{ actualite.auteur.prenom }}</p>
        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
{% endblock %}