{% extends 'base.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block code %}
<br>
<br>
<br>
<br>
<br>
    <h1>Competition index</h1>
<br>

<<<<<<< Updated upstream
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameAthlete</th>
                <th>NbrTrophet</th>
                <th>NbrParticipationInternational</th>
                <th> ClassementMondial</th>
                <th>Niveau</th>
                <th>actions</th>
=======
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="font-weight-bold">Id</th>
                <th class="font-weight-bold">NameAthlete</th>
                <th class="font-weight-bold">NbrTrophet</th>
                <th class="font-weight-bold">NbrParticipationInternational</th>
                <th class="font-weight-bold">ClassementMondial</th>
                <th class="font-weight-bold">Niveau</th>
                <th class="font-weight-bold">actions</th>
>>>>>>> Stashed changes
                
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
<<<<<<< Updated upstream
                <td>{{ competition.id }}</td>
                <td>{{ competition.athlete.name}}</td>
                <td>{{ competition.nbrTrophet }}</td>
                <td>{{ competition.nbrParticipationInternational }}</td>
                <td>{{ competition.ClassementMondial }}</td>
=======
                <td class="font-weight-bold">{{ competition.id }}</td>
               <td>
    {% if competition.athlete %}
        {{ competition.athlete.name }}
    {% endif %}
</td>
                <td>{{ competition.nbrTrophet }}</td>
                <td>{{ competition.nbrParticipationInternational }}</td>
                <td>{{ competition.ClaMondial }}</td>
>>>>>>> Stashed changes
                <td>{{ competition.Niveau }}</td>
                 
                <td>
                    <a href="{{ path('app_competition_show', {'id': competition.id}) }}">show</a>
                    <a href="{{ path('app_competition_edit', {'id': competition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
<<<<<<< Updated upstream
                <td colspan="6">no records found</td>
=======
                <td colspan="6" class="font-weight-bold">no records found</td>
>>>>>>> Stashed changes
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competition_new') }}">Create new</a>
{% endblock %}
