<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamguystech.com/laravel/template/public/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 19:55:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
{% block stylesheets %}
    <link type="image/x-icon" href="{{asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/swiper/css/swiper.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">
{% endblock %}
</head>
<body>
{% block header %}
<div class="main-wrapper">
    
{% endblock %}

{% block body %}

{% endblock %}



{% block javascripts%}


    </script><script src="FrontOffice/js/jquery-3.6.0.min.js"></script>

    <script src="{{ asset('FrontOffice/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/plugins/swiper/js/swiper.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/slick.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/aos.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/script.js') }}"></script>
{% endblock %}
</body>
<!-- Mirrored from doccure.dreamguystech.com/laravel/template/public/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 19:57:01 GMT -->
</html>
<script>
    $(document).ready(function(){
        // alert(1);
        /*$('.submenu li a').click(function(){
          $(.submenu li a).removeClass("active");
          $(this).addClass("active");
          $('.has-submenu a').removeClass("active");
          $('.has-submenu a').addClass("active");
          //$(this).toggleClass("active");
        });*/
    });
</script>