{% extends 'base.html.twig' %}
{% block main  %}
    <div class="card-body">
        <h5 class="card-title">Forum</h5>

        <!-- Default Table -->
        <table class="table">
            <thead>
            <tr>

                <th scope="col">Titre</th>
                <th scope="col">Sujet</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">nb commentaire</th>
                <th scope="col">nb like </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr {% for a in Forum %}>

                <td>{{ a.titre }}</td>
                <td>{{ a.sujet }}</td>
                <td>{{ a.date|date('d-m-Y') }}</td>
                <td>{{ a.description }}</td>
                <td>{{ a.nbcommentaire }}</td>
                <td>{{ a.nblike }}</td>

                <td> <a class="btn cur-p btn-danger" href="{{ path('delete_for',{'id':a.id}) }}"> Delete</a> <a class="btn cur-p btn-success" href="{{ path('update_for',{'id':a.id}) }}"> update</a> </td>

            </tr {% endfor %} >

            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
{% endblock %}
